.explore {
    display: flex;
    font-family: 'Lora', serif;
    display: flex;
    flex-wrap: wrap; }

.navbar-explore {
    animation: slideDown 2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    width: 25%;
    margin: 4rem 0rem;
    padding: 2rem 2rem;
    border-bottom: dashed 1px var(--blue);
    border-right: dashed 1px var(--blue);
    border-radius:  0 0 25px;
    transform: all 4s; }
    @media only screen and (max-width: 950px) {
        .navbar-explore {
            flex-direction: row;
            width: 100%;
            border-radius: 0;
            border-right: none;
            margin-bottom: 0rem; } }

.navbar-explore-title {
    width: 100%;
    font-size: 1rem;
    padding: .5rem 0rem;
    margin: .5rem 0rem; }

.navbar-explore-filter {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: .9rem;
    gap: 1rem;
    padding: .5rem 1rem; }
    @media only screen and (max-width: 950px) {
        .navbar-explore-filters-container {
            display: flex;
            justify-content: space-around;
            width: 100%; }
            .navbar-explore-filter a {
                display: flex;
                align-items: center; } }

.navbar-explore-tags {
    display: flex;
    flex-wrap: wrap; }

.filter-icon { 
    width: 1.4rem; }

.filter-icon:hover {
    cursor: pointer;
    transform: scale(1.2); }

.tag {
    background-color: var(--light-grey);
    border: dashed 1px var(--blue);
    padding: .5rem .5rem;
    margin: .5rem;
    border-radius: 15px;
    font-size: .7rem; }
    .tag:hover, .tag:active {
        background-color: var(--blue);
        border: dashed 1px var(--light);   
        color: var(--light);
        cursor: pointer; }

.navbar-explore-links {
    display: flex;
    flex-wrap: wrap;
}

.navbar-explore-link {
    display: flex;
    width: 100%;
    align-items: center;
    padding: .5rem 0rem;
    margin-left: 1rem;
    cursor: pointer; 
    font-size: .9rem;}
    .navbar-explore-link label {
        padding-left: 1rem; }
    
.cards-container {
    animation: opacity 2s;
    display: flex;
    width: 75%;
    flex-wrap: wrap ;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem 2rem; }
    @media only screen and (max-width: 950px) {
        .cards-container {
            width: 100%;
            padding: 0rem 2rem; } }

.cards-container-header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem; }

.card {
    display: flex;
    flex-wrap: wrap;
    width: 17rem;
    margin: 2rem;
    color: var(--dark);
    background-color: var(--light);}

.card-image-container {
    height: 255px;
    width: 100%;
    transition: all 1s; }

.card-image-top {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.card-body { width: 100%; }

.card-body-content {
    padding: 1rem;
    border: dashed 1px var(--blue);
    border-top: none;
    border-bottom-right-radius: 25px; 
    border-bottom-left-radius: 25px; }

.card-text {
    width: 100%;
    padding: .2rem 1rem; }

.card-text-description {
    font-size: .8rem;
    padding: .6rem 1rem;
}

.card-text-price {
    padding: .6rem 1rem;
}

.card-title-author {
    font-size: .8rem;
    color: var(--blue); }

.btn-add {
    opacity: 0;
    border-radius: 25px;
    width: 100%;
    background-color: var(--dark); 
    color: var(--light);
    padding: .7rem 2rem;
    transition: all 1s; }

.card:hover .btn-add {
    opacity:1;
    transform: translateY(5px);
    color: var(--light-blue); }

.card:hover .card-image-container {
    transform: translateY(-5px);}

.hide {
    display: none; }
