.explore {
    display: flex;
    font-family: 'Lora', serif; }

.navbar-explore {
    animation: slideDown 2s;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 20%;
    height: 75vh;
    margin-top: 4.2rem;
    padding: 5rem 2rem;
    background-color: var(--light);
    border: dashed 1px var(--blue);
    color: var(--dark);
    border-radius:  0 0 25px;
    transform: all 4s; }

.navbar-explore-title {
    padding: 1rem 0rem;
    border-bottom: solid 1px; }

.navbar-explore-filter {
    display: flex;
    width: 100%;
    gap: 1rem; }

.navbar-explore-link {
    display: flex;
    align-items: center;
    padding: .5rem 0rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: color .3s; }
    .navbar-explore-link label {
        padding-left: 1rem; }

.card {
    display: flex;
    flex-wrap: wrap;
    width: 17rem;
    margin: 2rem;
    color: var(--dark);
    background-color: var(--light);}

.card-image-container {
    height: 60%;
    width: 100%;
    transition: all 1s; }

.cards-container {
    animation: opacity 2s;
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
    padding: 4rem; }

.cards-container-header {
    width: 100%;
    padding: 1rem 2rem 0 2rem; }

.card-image-top {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.card-body {
    width: 100%; }

.card-text {
    padding: .2rem 1rem;
    font-size: .8rem; }

.card-body-content {
    padding: 1rem;
    border: dashed 1px var(--blue);
    border-top: none;
    border-bottom-right-radius: 25px; 
    border-bottom-left-radius: 25px; }

.btn-add {
    opacity: 0;
    border-radius: 25px;
    width: 100%;
    background-color: var(--dark); 
    color: var(--light);
    padding: .7rem 2rem;
    transition: all 1s; }

.card:hover .btn-add {
    opacity:1;
    transform: translateY(5px);
    color: var(--light-blue); }

.card:hover .card-image-container {
    transform: translateY(-5px);}

.filter-icon {
    width: 1.6rem; }

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}