.footer {
    background: #000;
    color: #fff; }

.footer-upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 5rem; }
    @media only screen and (max-width: 56.25em) {
        .footer-upper {
          padding: 6rem 0; } }
    @media only screen and (max-width: 37.5em) {
    .footer-upper {
        display: block; } }

.icon {
    height: 1.7rem;
    margin: .5rem .5rem;
}