@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
    --dark:#1a1a1a;
    --blue: #086788;
    --grey: #383D3B;
    --light: #fff;
    --light-blue: #E0F3F5;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit; }

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll; }  
    
.main-container {
  min-height: 100vh;
  min-width: 275px;
  margin: 0;
  padding: 0; }

a {
    text-decoration: none;
    color: inherit; }
    
li {
list-style: none; }
    
input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; }

button {
  border: none;
  cursor: pointer; }

textarea {
  resize: none; }

.btn {
    background-color: var(--dark);
    color: var(--light);
    margin-top: 1rem;
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px; 
    transition: all 1s;
}
.btn:hover {
  transform: translateY(-5px); }
