.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); }

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem; }

.header-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s; }
    .header-logo-container:hover {
        color: #0062b9; }

.header-logo-img-cont {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    margin-right: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
        .header-logo-img-cont {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem; } }

.header-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block; }

.header-logo-title {
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px; }

.header-links {
    display: flex; }

.header-link {
    padding: 1.7rem 3rem;
    display: inline-block;
    font-size: .9rem;
    color: #333;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color .3s; }
    .header-link:hover {
        color: #0062b9; }
    @media only screen and (max-width: 56.25em) {
        .header-link {
            padding: 3rem 1.8rem;
            font-size: 1.5rem; } }

.shop-wrapper {
    display: flex;
    align-items: center;
}

.shopCart {
    padding: 0 2.2rem ;
    height: 1.2rem;
}