.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
    padding: 7rem 1rem; }

.user-container {
    font-family: "Lora", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--light);
    border: dashed 1px var(--blue); 
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); }
    .user-container:hover {
        transform: translateY(-5px); }

.art {
    position: relative; 
    animation: slideInLeft ease-in-out;
    animation-duration: 1.6s;
    height: 75vh;
    width: 25%; }

.info {
    position: relative;
    animation: slideInUp ease-in-out;
    animation-duration: 2.4s;
    min-height: 75vh;
    width: 45%; }

.items {
    position: relative;
    animation: slideInUp ease-in-out;
    animation-duration: 1.6s;
    height: 55vh;
    width: 25%; }

.btn-explore {
    background-color: var(--dark);
    color: var(--light);
    margin-top: 1rem;
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px; 
    transition: all 1s;
    position: absolute;
    bottom: 15px;  }

.btn-art {
    background-color: var(--dark);
    color: var(--light);
    margin-top: 1rem;
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px; 
    transition: all 1s;  }

.btn-save {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: var(--light-blue);
    color: var(--dark);
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px; 
    transition: all 1s; }


.btn-disabled {display: none;}

.edit-icon {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    height: 1.5rem;
    cursor: pointer; }

.info-img {
    height: 45%;
    position: absolute;
    bottom: 15px;
    right: 0; }

.info-content-title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--blue); }

.info-content-disabled {
    min-width: 55%;
    padding: .3rem;
    border: dashed 1px var(--light);
    background-color: inherit;
    transition: all 1s ease-in-out; }
    
.info-content-edit {
    min-width: 55%;
    border: dashed 1px var(--blue);
    padding: .3rem;
    border-radius: 5px;
    transition: all 1s ease-in-out; }

.user-piece-collection {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
    margin: 0.5rem 0rem; 
    background-color: var(--light-blue);
    color: var(--dark);
    border-radius: 15px;
    transition: all 2s ease-in-out;
}

.user-piece-at-sale {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0rem; 
    background-color: var(--light-blue);
    border-radius: 15px; }

@media screen and (max-width: 992px) {
    .user-container {
        min-width: 100%;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-170%);
    }
    100% {
        transform: translateY(0);
    }
}